NODE_ID=optiplex_test
SELF_NODE_ID=optiplex_test
NODE_IP=10.72.5.17
PEER_NODES=optiplex_main=http://10.72.5.2:8000;hassan=http://10.72.5.24:8000
JWT_SECRET=1234
FEDERATION_TOKEN=5678
ADMIN_USERNAME=admin2
ADMIN_EMAIL=admin2@y.com
ADMIN_PASSWORD=password
DB_PATH=/data/registry.db
STORAGE_ROOTS=